@charset "utf-8";
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td,button
{margin: 0; padding: 0; border: 0; outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
ul, ol{list-style: none;}
button{background:none;border:none;}
a{color: #000;text-decoration: none;}
a,dl,li,div{-webkit-tap-highlight-color:rgba(255,0,0,0);}
/* img{vertical-align: middle;width:100%;} */

/* @font-face
{
font-family: AliLight;
src: url('../../res/font/AliLight.otf');
}
@font-face
{
font-family: AliMedium;
src: url('../../res/font/AliMedium.otf');
}
@font-face
{
font-family: AliRegular;
src: url('../../res/font/AliRegular.otf');
}
@font-face
{
font-family: MostExtralight;
src: url('../../res/font/MostExtralight.otf');
} */
@font-face
{
font-family: MostItalic;
src: url('../../res/font/MostItalic.ttf');
}

html{
    margin: 0 auto;
    -webkit-font-smoothing:antialiased;
    width:100vw;
    overflow: auto;
}
body{
    font-size:14px;
    scroll-behavior: smooth;
    width:100vw;
    height:100vh;
    overflow-x: hidden;
    overflow-y: auto;
    /* font-family: AliLight; */
    font-family: "PingFang SC" ,"Microsoft YaHei","黑体",'Segoe UI',Arial;
}
html,body{ background:#fff; }
i{ font-style:normal; font-weight:normal;}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1}

/* .flex-frame{max-width:1920px;min-width:1800px; margin:0 auto;position: relative;min-height:100%;} */
.flex-frame{
    min-width:1920px;
    /* min-width:1440px; */
    min-height:100vh;
    margin:0 auto;position: relative;background:#ffffff;
    -webkit-transform-origin:left top;
    -ms-transform-origin:left top;
    transform-origin:left top;
    overflow:hidden; 
    position:relative;
    z-index: 1;

}

.wd_adjust{
    max-width:1500px;
    min-width:1440px;
    margin: 0 auto;
    position:relative;
}
.wd_1280{
    width:1280px;
    margin:0 auto;
    position:relative;
}
.btn_df{ cursor:pointer; -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;}
.btn_df:active{ filter:Alpha(opacity=80);opacity: 0.8;}
.ht_nowrap{ overflow: hidden;  text-overflow:ellipsis;  white-space: nowrap; }
.ht_bg{background:#fff;}

.clampLine1{overflow: hidden;white-space: nowrap; text-overflow: ellipsis;}
.clampLine2{ 
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.clampLine3{ 
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.hide{display:none!important;  }
.display{ display:block!important; }

.user_noSelect{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.float-lt{ float:left; }
.float-rt{ float:right;}

.md_title{
    width:250px;
    height:800px;
    padding:145px 0 0;
    background: url('../img/huacapital_min.svg') no-repeat bottom 62px right 10px  #a8291f;
    background-size:47px 285px;
}
.md_title .txt{
    font-size:40px;
    line-height:50px;
    color:#fff;
    display: inline-block;
    text-align:center;
    display: block;
    letter-spacing: 6px;
    /* font-family: AliBold; */
    font-weight:bold;
}
.mask_layout{
    display:none;
    position:fixed;
    left:0;
    top:0;
    z-index: 500;
    background:rgba(0,0,0,.5);
    width:100%;
    height:100%;
}
.bodyMask{
    overflow: hidden;
}
.bodyMask::after{
    content:'';
    position:fixed;
    left:0;
    top:0;
    z-index: 9;
    background:rgba(0,0,0,.5);
    width:100%;
    height:100%;
}
/***************** img_effect *********************/

.effect{
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

