
/* content */
/* swiper */
.swiper{
    background:#fff;
    width:100%;
    position:relative;
    margin:0 auto;
    overflow: hidden;
}
.swiper-slide{
    width:100%;
    height:100%;
    position:relative;
    background:#fff;
    padding-top:66px;
}
.swiper-txtBx{
    position:absolute;
    top:40%;
    left:50%;
    margin-left:-640px;
    transform: translateY(-50%);
    padding-bottom:70px;
}
.swiper-txtBx::after{
    position:absolute;
    left:0;
    bottom:0;
    display: block;
    content:'';
    height:3px;
    width:201px;
    background:url('../img/decorate.png') no-repeat center;
    background-size:100% 100%;
}
.swiper-title{
    font-size:56px;
    line-height:68px;
    font-weight: bold;
    /* font-family: AliBold; */
    color:#fff;
    text-shadow: 5px 5px 15px #000;
    white-space:pre-line;
    margin-bottom:20px;
}
.swiper-subTitle{
    white-space: pre-line;
    font-size:32px;
    line-height:1.2;
    /* font-family: AliRegular; */
    color:#fff;
    text-shadow: 5px 5px 15px #000;
    white-space:pre-line;
}
.swiper-txtBx.lt{
    text-align:left;
}
.swiper-txtBx.rt{
    text-align:right;
}
.swiper-txtBx.rt::after{
    left:0;
    right:auto;
}
.swiper-txtBx.rt::after{
    left:auto;
    right:0;
}

.swiper-slide img{
   width: 100%;
   height:100%;
   object-fit: cover;
}
.swipe-bx{
    position:absolute;
    top:604px;
    left:0;
    width:100%;
    z-index: 99;
}
.swipe-bx .title{
    font-size:24px;
    line-height:1.5;
    color:#000;
    text-align:center;
    margin-bottom:20px;
    /* font-family: AliLight; */
}
.swiper-slide .des{
    font-size:54px;
    line-height:1.5;
    color:#000;
    text-align:center;
    /* font-family: AliRegular; */
    font-weight:bold;
}
.swiper-pagination {
    position: absolute;
    z-index: 20;
    bottom: 10px;
    width: 100%;
    text-align: center;
    display: none;
  }
.swiper-pagination-switch {
    display: inline-block;
    width: 34px;
    height: 6px;
    background: #e5e5e5;
    cursor: pointer;
}
.swiper-active-switch {
    background: #aa332d;
}
.swiper-btnBx{
    position:absolute;
    left:50%;
    margin-left:-640px;
    bottom:30%;
    width:162px;
    height:36px;
    text-align: center;
}
.swiper-btnBx .line{
    width:1px;
    height:36px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;

}
.swiper-btn{
    border-radius:50%;
    cursor: pointer;
    font-size:24px;
    color:#aa332d;
    text-align:center;
    width:36px;
    height:36px;
    background-size: 7px 12px;
    background-color: rgba(255,255,255,.4);
    background-repeat: no-repeat;
    background-position: center;
}  
#swiper-btn-prev{
    float:left;
    background-image: url('../img/arrow_lt_white.svg');
}
#swiper-btn-next{
    float:right;
    background-image: url('../img/arrow_rt_white.svg');
}
.swiper-btn:hover{
    background-color:rgba(255,255,255,.6)!important;
}

#swiper-btn-prev:hover{
    float:left;
    background-image: url('../img/arrow_lt_red.svg');
}
#swiper-btn-next:hover{
    float:right;
    background-image: url('../img/arrow_rt_red.svg');
}
/* page slide */
.pageContainer{
    height:100vh;
}
.page-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100vh ;
    position:relative;
    min-height:670px;
}
.page-slide::after{
    content:'下滑查看更多';
    position:absolute;
    left:50%;
    bottom:35px;
    width:150px;
    margin-left:-75px;
    color:#fff;
    text-align:center;
    font-size:18px;
    /* font-family: AliRegular; */
    background:url('../img/ico_down_white.svg') no-repeat center bottom ;
    background-size:22px 13px;
    padding-bottom:35px;
    animation: blink 3s 1s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    -webkit-animation: blink 5s 1s;
    -webkit-animation-timing-function:linear; /* Safari and Chrome */
    -webkit-animation-iteration-count:infinite;
}
.page-slide.deep::after{
    color:#000;
    background-image:url('../img/ico_down.svg') ;
}
.page-slide:last-child::after{
    display: none;
}
.page-slide:nth-last-child(2)::after{
    display: none;
}
@keyframes blink{
    0%{opacity: 1;}
    50%{opacity: 1;}
    60%{opacity: 0;}
    65%{opacity: 0;}
    75%{opacity: 1;}
    100%{opacity: 1;}
}
@-webkit-keyframes blink{
    0%{opacity: 1;}
    50%{opacity: 1;}
    60%{opacity: 0;}
    65%{opacity: 0;}
    75%{opacity: 1;}
    100%{opacity: 1;}
}
.pageBar{
    position:fixed;
    left:50px;
    top:50%;
    transform: translateY(-50%);
    z-index: 10;
}
.pageBar_item{
    padding-left:18px;
    position:relative;
    padding-bottom:52px;
}
.pageBar_item::before{
    content:'';
    width:9px;
    height:9px;
    position:absolute;
    left:-4px;
    top:11px;
    background: url('../img/ico_circle_pot_gray.svg') no-repeat center transparent;
    background-size:5px 5px;
    border-radius:50%;
    font-size:0;
    transition: all .4s;
}
.pageBar_item::after{
    position:absolute;
    left:0;
    top:24px;
    content:'';
    width:1px;
    height:calc(100% - 21px);
    background:#8c8c8c;
}
.pageBar_item:last-child::after{
    display: none;
}
.pageBar_item .txt{
    color:#8c8c8c;
    /* font-family: AliRegular; */
    font-size:16px;
    line-height:28px;
    min-height:28px;
    position:relative;
    display: inline-block;
    cursor: pointer;
}

.pageBar_item .txt::after{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    width:0;
    height:2px;
    transition: width .4s;
    background-color: #8c8c8c;
}

.pageBar_item.active::before{
    background-image: url('../img/ico_circle_gray.svg');
    background-size: 9px;
}
.pageBar_item.active .txt{
    font-weight: bold;
}
.pageBar_item.active .txt::after{
    width:100%;
}
.pageBar_item.hover::before{
    background-image: url('../img/ico_circle_gray.svg');
    background-size: 9px;
}
.pageBar_item.hover .txt{
    font-weight: bold;
}
.pageBar_item.hover .txt::after{
    width:100%;
}
    
/* backTopBx */
.backTopBx{
    position:fixed;
    right:0;
    bottom:100px;
    width:76px;
    background-color: rgb(105, 98, 98,  0.37);;
    display: none;
    z-index: 2;
}
.backTopBx .btn_backTop{
    height:76px;
    background:url('../img/ico_up.svg') no-repeat center;
    background-size:22px 13px;
    cursor: pointer;
}
.backTopBx .wechat_qr{
    width:100%;
}
.backTopBx .title{
    font-size:8px;
    line-height:1.5;
    padding:5px;
    text-align:center;
    /* font-family: AliRegular; */
}
.backTopBx.white .title{
    color:#fff;
}
/* capital */
.capital{
    padding:170px 0 180px;
    background:url('../img/city.jpg') no-repeat  center bottom;
}

.capital_title{
    font-size:40px;
    font-weight:bold;
    color:#a2291f;
    margin-bottom:30px;
}
.capital_bg{
    background: url('../img/capital.svg') no-repeat center top;
    height:612px;
    position:relative;
}
.capital_bg_des{
    width:550px;
    font-size:20px;
    line-height:1.6;
    text-align: justify;
}
.capital_center{
    width:200px;
    text-align:center;
    position:absolute;
    left:50%;
    top:300px;
    margin-left:-100px;
}
.capital_center_label{
    font-size:18px;
    font-weight:bold;
    margin-bottom:10px;
}
.capital_center_title{
    font-size:20px;
    font-weight:bold;
    color:#a2291f;
}
.capital_bg_item_title{
    font-size:18px;
    font-weight:bold;
    color:#a2291f;
    margin-bottom:7px;
}
.capital_bg_item_row{
    font-size:18px;
    line-height:1.6;
}
.capital_opinion{
    position:absolute;
    left:50%;
    top:220px;
    margin-left:290px;
    width:440px;
}
.capital_method{
    position:absolute;
    left:50%;
    margin-left:290px;
    bottom:95px;
    width:440px;
}
.capital_resource{
    position:absolute;
    left: 0;
    bottom:95px;
}
.icon_opinion{
    position: absolute;
    left:50%;
    top:177px;
    margin-left:-24px;
    width:55px;
    height:55px;
}
.icon_resource{
    position: absolute;
    left:50%;
    top:414px;
    margin-left:-177px;
    width:55px;
    height:55px;
}
.icon_method{
    position: absolute;
    left:50%;
    top:414px;
    margin-left:128px;
    width:55px;
    height:55px;
}
.capital_contentImg{
    width:100%;
}
.capital .btn_about{
    position:absolute;
    right:0;
    bottom:0;
    height:40px;
    width:118px;
    text-align:center;
    line-height:40px;
    color:#fff;
    font-size:18px;
    /* font-family: AliRegular; */
    background:#B01612;
    display: block;
}
.capital .btn_about:hover{
    background:#802A26;
}
.capital .lt{
    float:left;
    padding-top:10px;
    width:50%;
    padding-right:100px;
}
.capital .lt .title{
    font-size:40px;
    font-weight:bold;
    /* font-family: AliRegular; */
    margin-bottom:30px;
    color:#aa332d;
}
.capital .lt .des{
    font-size:20px;
     /* font-family: AliLight; */
    line-height:35px;
    text-align:justify;
    margin-bottom:54px;
}

.capital .en_about_title{
    display: block;
    margin-top:166px;
    /* font-family: MostExtralight; */
    font-size:43px;
    line-height:51px;
    color:#a6291f;
}
.capital .rt{
    float:right;
    width:50%;
    padding-left:25;
}
.capital .rt_item{
    padding:35px 0 35px 0;
    border-bottom:solid 2px   #e7e7e7;
    background-repeat: no-repeat;
    background-position:24px 28px;
    background-size: 40px 40px;
    position:relative;
}
.capital .rt_item:last-child{
    border-bottom:none;
}
.capital .rt_item::before{
    content:'';
    width:100px;
    height:2px;
    background: #929292;
    position:absolute;
    left:0;
    top:-2px;
}
.capital .rt_item_row{
    position:relative;
    padding-left:252px;
}

.capital .rt_item:first-child{
    border-top:solid 2px #e7e7e7;
}
.capital .rt_item:nth-child(1){
    background-image:url('../img/icon1.svg');
}
.capital .rt_item:nth-child(2){
    background-image:url('../img/icon2.svg');
}
.capital .rt_item:nth-child(3){
    background-image:url('../img/icon3.svg');
}
.capital .rt_item_title{
    position:absolute;
    left:80px;
    top:0;
    font-size:20px;
    line-height:30px;
    color:#000;
    /* font-family: AliRegular; */
    padding-left:18px;
    font-weight:bold;
}
.capital .rt_item_des p{
    font-size:18px;
    line-height:30px;
    color:#000;
    /* font-family: AliLight; */
}
.capital .rt_item_des .subTitle{
    color:#801f18;
    position:relative;
    margin-top:30px;
    /* font-family: AliRegular; */
    font-weight:bold;
}
.capital .rt_item_des .subTitle:first-child.subTitle{
    margin-top:0;
}
.capital .rt_item_des .subTitle::before{
    position:absolute;
    left:-17px;
    width:8px;
    height:8px;
    content:'';
    background-color: #801f18;
    border-radius:50%;
    margin-top:11px;
}

.home_mobile_content{display: none;}
.home_module_nav{display: none;}
/* h_example */
.ho_example{
    background-color:#363636;
    position:relative;
}
.ho_example_bg{
    height:668px;
    min-height:668px;

    /* position:absolute;
    left:50%;
    top:0;
    margin-left:-765px; */
    width:1530px; 
    margin-left:-125px;
    position:relative;
    background: url('../img/ho_example_bg.png') no-repeat  left   center;
}
.ho_example_contain{
    height:100%;
    position:relative;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
}
.ho_example .md_title{
    position:absolute;
    right:0px;
    top:-67px;
    text-align:right;
    height:calc(50% + 67px + 325px);
}
.ho_example .md_title .txt{
    position:absolute;
    bottom:425px;
    left:0;
    width:100%;
}
.ho_example .logo{
    width:137px;
    height:159px;
    text-align:center;
    transition: all .4s;
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    left:50%;
    padding: 0  12px;
    /* padding-top:45px; */
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
}
.ho_example .logo img{
    width: 100%;
    vertical-align: middle;
    object-fit: contain;
    height:65px;
    transition: all .3s;
}
.ho_example .logo p{
    position:absolute;
    left:0;
    top:25px;
    width:100%;
    padding:0 12px;
    height:105px;
    opacity: 0;
    font-size:14px;
    color:#fff;
    text-align:center;
    line-height:20px;
    transition: all .4s;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    transition: all .4s;
    white-space: pre-line;
    /* font-family: AliRegular; */
}
.ho_example .logo:hover{
    background-image:url('../img/ho_logo_active.svg');
}
.ho_example .logo:hover p{
    opacity: 1;
}
.ho_example .logo:hover img{
    opacity: 0;
}

.logo1{margin-left:-636px;top:128px;}
.logo2{margin-left: -495px;top:128px;}
.logo3{margin-left: -131px;top:128px;}
.logo4{margin-left: 11px;top:128px;}
.logo5{margin-left: 152px;top:128px;}
.logo6{margin-left: -566px;top:256px;}
.logo7{margin-left: -425px;top:256px;}
.logo8{margin-left: -201px;top:256px;}
.logo9{margin-left: -60px;top:256px;}
.logo10{margin-left: 81px;top:256px;}
.logo11{margin-left: -636px;top:385px;}
.logo12{margin-left: -271px;top:385px;}
.logo13{margin-left: -131px;top:385px;}
.logo14{margin-left: 11px;top:385px;}
.logo15{margin-left: 152px;top:385px;}

.ho_example .btn_more{
    position:absolute;
    left:0;
    top:50%;
    margin-top:280px;
}
/* ho_news */
.ho_news{
    position:relative;
}
.ho_news_contain{
    position:relative;
    height:100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
}
.ho_news .newBx{
    width:100%;
    position:relative;
}
.ho_news  .md_title{
    position:absolute;
    left:0;
    top:-67px;
    height:calc(50% + 400px);
}
.ho_news  .md_title .txt{
    position:absolute;
    width:100%;
    bottom:590px;
    text-align:center;
    left:0;
}
.ho_news .news{
    float:right;
    width:916px;
    padding-top:92px;
}

.ho_news .news_item{
    margin:0 0 44px 34px;
    float:left;
}

.ho_news .news_item::before{
    content:'';
    display:block;
    height:3px;
    width:100%;
    background:#e5e8e9;
    margin-bottom:3px;
    transition: all .5s;
}
.ho_news .news_item_dl{
    width:424px;
    height:352px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
    padding:8px;
    transition: all .4s;
    border-radius:13px;
}
.ho_news .news_item_dl .imgCase{
    width:100%;
    height:228px;
    border-radius:9px;
    overflow: hidden;
}
.ho_news .news_item_dl .imgCase img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.ho_news .news_item_dl .des{
    color:#000;
    padding-top:8px;
    /* transition: all .5s; */
}
.ho_news .news_item_dl .date{
    font-size:16px;
    line-height:24px;
    min-height:24px;
    margin-bottom:2px;
    background:url('../img/red_arrow.png') no-repeat right center;
    /* font-family: AliRegular; */
}
.ho_news .news_item_dl .txt{
    font-size:21px;
    line-height:30px;
    word-break: break-all;
    /* font-family: AliLight; */
}
.ho_news .news_item:hover::before{
    background-color:#aa332d
}
.ho_news .news_item:hover .news_item_dl{
    background-color:#aa332d
}
.ho_news .news_item:hover .news_item_dl .des{
    color:#fff;
}
.ho_news .news_item:hover .news_item_dl .date{
    background-image:url('../img/white_arrow.png') ;
}
.ho_news .btn_more{
    position:absolute;
    left:0;
    bottom:50%;
    margin-bottom:-415px;
}

/* team */
.team{
    padding-top:66px;
    padding-bottom:150px;
}
.team_banner{
    height:547px;
    background:url('../img/team_banner.png') no-repeat center;
    background-size:cover;
    position:relative;
    padding-top:140px;
}
.team_banner_contain{
    height:100%;
}
.team_banner .title{
    font-size:50px;
    line-height:62px;
    color:#A2291F;
    /* font-family: AliRegular; */
    font-weight:bold;
    margin-bottom:36px;
}
.team_banner .subTitle{
    font-size:32px;
    color:#A2291F;
    line-height:1.5;
}
.team_banner .des{
    width:728px;
    text-align: justify;
    font-size:18px;
    line-height:1.8;
    color:#000;
    padding:16px 26px;
    background: rgba(255,255,255,.5);
    position:absolute;
    right:188px;
    top:125px;
}
.team_introduction{
    height:calc(100vh - 66px - 537px - 445px);
    min-height:0px;
    /* padding-top:90px;
    padding-bottom:120px; */
    position:relative;
}
.team_introduction .txt{
    position:absolute;
    left:0;
    top:30%;
    max-width:840px;
    font-size:20px;
    line-height:1.8;
    color:#000;
    text-align:justify;
}
.team_content{
    background-color: #fff;
}
.teamers{
    width:1336px;
    margin:0 auto;
    position:relative;
}
.teamers .item{
    width:33.33%;
    float:left;
    padding:24px;
}
.teamers .item_case{
    width:100%;
    height:0;
    padding-bottom: 100%;
    position:relative;
    cursor: pointer;
}
.teamers .item_case::before{
    content:'';
    position:absolute;
    right:-24px;
    top:0;
    width: 1px;
    height:100%;
    background: #bf3a32;
}

.teamers .item_case::after{
    content:'';
    position:absolute;
    bottom:-24px;
    left:0;
    width: 100%;
    height:1px;
    background: #bf3a32;
}
.teamers .item:nth-child(3n) .item_case::before{
    display: none;
}
.teamers .item:nth-last-child(1) .item_case::after{
    display: none;
}
.teamers .item:nth-last-child(2) .item_case::after{
    display: none;
}
.teamers .item:nth-last-child(3) .item_case::after{
    display: none;
}
.teamers .item_case .avatar{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: 1;
    border-radius:9px;
    overflow: hidden;
}
.teamers .item_case .des{
    height:78px;
    width:100%;
    position:absolute;
    left:0;
    bottom:0;
    color:#fff;
    padding:10px 30px;
    z-index: 3;
    border-radius:0 0 9px 9px;
    overflow: hidden;
}
.teamers .item_case .des::after{
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: -1;
    width:0;
    background:url('../img/teamer_icon.svg') no-repeat right 10px center #a2291f;
    background-size: 40px 52px;
    transition: all .4s;
}
.teamers .item_case .des .name{
    font-size:18px;
    line-height:30px;
    /* font-family: AliRegular; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.teamers .item_case .des .position{
    font-size:16px;
    line-height:30px;
    /* font-family: AliLight; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.teamers .item_case:hover .des::after{
    width:100%;
}
#teamerInfo{
    visibility: hidden;
    position: fixed;
    top:0;
    left:100%;
    width:100vw;
    height:100vh;
    background-color: rgba(255,255,255,.9);
    z-index: 4;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    transition: all .6s;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.teamerInfo_contain{
    padding-top:66px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    padding-bottom:209px;
    min-height:850px;
    position:relative;
}
.teamerInfo_contain .lt{
    width:54%;
    position:relative;
    transition: all .7s .6s;
    margin-top:150px;
    opacity: 0;
}
.teamerInfo_contain .imgCase{
    /* width:687px; */
    display: block;
    width:100%;
    height:0;
    padding-bottom:85.73%;
    border-radius: 9px;
    overflow: hidden;
    position:relative;
}
.teamerInfo_contain .imgCase img{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: 1;
    object-fit: cover;
}
.teamerInfo_contain .lt .info{
    width:285px;
    height:249px;
    padding: 15px;
    background:#a2291f;
    position:absolute;
    left:-24px;
    bottom:-209px;
    z-index: 1;
    text-align:center;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
}
.teamerInfo_contain .lt .info .name{
    font-size:40px;
    line-height:62px;
    /* font-family: AliMedium; */
    font-weight:bold;
    color:#fff;
}
.teamerInfo_contain .lt .info .position{
    font-size:20px;
    line-height:44px;
    /* font-family: AliLight; */
    color:#fff;
}
.teamerInfo_contain .des{
    padding-left:85px;
    flex:1;
    width:0;
    margin-top:150px;
    opacity: 0;
    word-break: break-all;
    transition: all .7s .7s;
}
.teamerInfo_contain .des p{
    font-size:20px;
    line-height: 1.5;
    /* font-family: AliLight; */
    color: #000;
    text-align: justify;
    margin-bottom:20px;
}
.teamerInfo_contain .des p:last-child{
    margin-bottom:0;
}
.teamerInfo_contain .des .btn_bp{
    display: block;
    font-size: 24px;
    /* font-family: AliRegular; */
    width: 165px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background-color: #8E332D;
    border-radius: 22px;
    color: #fff;
    cursor: pointer;
    margin-top:20px;
}
.teamerInfo_contain .btn_close{
    width:80px;
    height:80px;
    background:url('../img/btn_back.svg') no-repeat center ;
    color:#fff;
    position:absolute;
    right:0;
    bottom:0;
    cursor: pointer;
    /* transition: all .6s .6s; */
    opacity: 0;
}
.teamerInfo_contain .btn_close:hover{
    background-image:url('../img/btn_back_hover.svg');
}
#teamerInfo.activeFrame {
    visibility: visible;
    left:0;
}
#teamerInfo.activeFrame .teamerInfo_contain .lt{
    opacity: 1;
    margin-top:0;

}
#teamerInfo.activeFrame .teamerInfo_contain .des{
    opacity: 1;
    margin-top:0;
}
#teamerInfo.activeFrame .btn_close{
    opacity: 1;
}
/* newsList */
.newsList_banner{
    margin-top:66px;
    height:342px;
    background:url('../img/newsList_banner.png') no-repeat center;
    background-size: 100% 100%;
    background-size:cover;
    padding-top:132px;
}
.newsList_banner .title{
    /* font-family: AliBold; */
    font-weight:bold;
    font-size:50px;
    line-height:62px;
    color:#a2291f;
}
.newsListContent{
    background:#fff;
    padding-bottom:128px;
}
.newsListContent .list{
    padding-top:110px;
}
.newsListContent .list .item{
    position:relative;
    padding:35px 63px 35px 200px;
    border-bottom:solid 1px #8c8c8c;
    cursor: pointer;
}
.newsListContent .list .item::after{
    content:'';
    position:absolute;
    right:21px;
    top:50%;
    width:21px;
    height:15px;
    margin-top:-7px;
    background: url('../img/arrow_more.svg') no-repeat center;


}
.newsListContent .list .item .date{
    position:absolute;
    left:0;
    top:0;
    width:200px;
    padding:35px 30px 0 50px;
    height:100%;
}
.newsListContent .list .item .date_year{
    font-size:50px;
    line-height:64px;
    height:64px;
    /* font-family: AliMedium; */
    font-weight:bold;
    color:#8E8E8E;
}
.newsListContent .list .item .date_day{
    font-size:25px;
    line-height:32px;
    height:32px;
    /* font-family: AliRegular; */
    color:#8E8E8E;
    font-weight:bold;
}
.newsListContent .list .item .des{
    min-height:118px;
    padding:10px 43px;
    border-left:solid 1px #8c8c8c;
    border-right:solid 1px #8c8c8c;
}
.newsListContent .list .item .des_title{
    font-size:18px;
    line-height:28px;
    color:#000;
    /* font-family: AliLight; */
    margin-bottom:10px; 
}
.newsListContent .list .item .des_txt{
    font-size:18px;
    line-height:28px;
    color:#8E8E8E;
    /* font-family: AliLight; */
    height:56px;
    overflow: hidden;
}
.newsListContent .list .item:hover{
    box-shadow: 0 2px 10px 1px #ccc;
} 
.pagination_df{
    margin-top:103px;
}
.pagination_df .item{
    float:left;
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    color:#fff;
    background: #c1c4c5;
    font-size:18px;
    /* font-family: AliRegular; */
    margin-right:12px;
}
.pagination_df .item.active{
    background:#a2291f ;
}
.pagination_df .item:hover{
    background:#a2291f ;
}
.pagination_df  .next{
    float:left;
    width:86px;
    height:40px;
    background: url('../img/white_arrow.svg') no-repeat center #a2291f;
    line-height:40px;
    background-size:16px 10px;
}
/* form page */
.from_wrap{
    padding-top:66px;
    background: #F7F7F8;
    min-height:100%;
}
.form_banner{
    height:551px;
    position:relative;
}
.form_banner img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.form_banner_content{
    position:absolute;
    left:50%;
    top:125px;
    z-index: 1;
    width:650px;
    margin-left:-440px;
    color: #9F291F;
    line-height:36px;
}
.form_banner_content .title{
    font-size:50px;
    font-weight:bold;
    color: #9F291F;
    margin-bottom:35px;
}

.form_banner_content .des_cn{
    font-size: 33px;
    margin-bottom:15px;
}
.form_banner_content .des_en{
    font-size: 29px;
}
.form_content{
    max-width:1000px;
    margin:0 auto;
    padding:69px 60px 240px;
}
.form_content_item{
    background:#FFF;
    border-radius:35px;
    padding:0 47px;
    margin-top:23px;
}
.form_content_item:first-child{
    margin-top:0;
}
.form_content_item .title{
    font-size: 30px;
    font-weight: 500;
    line-height:92px;
    height:92px;
}
.form_content_item .row{
    line-height:92px;
    border-top:solid 3px #D8D8D8;
    font-size: 0;
    font-weight: 500;
    color:#999999;
    height:92px;
}
.form_content_item .row label{
    font-size:30px;
}
.form_content_item .row input[type="text"]{
    float:right;
    height:100%;
    width:50%;
    text-align:right;
    font-size: 26px;
    font-weight: 300;
    color:#000;
}
.form_content_item .row input.inputBtn{
    float: none;
    width:auto;
    cursor:pointer;
}
.form_content_item .row .form_select{
   position:relative;
}

.form_content_item .row .form_selectOption{
    position:absolute;
    right:0;
    top:85px;
    background:#fff;
    border:solid 1px #d8d8d8;
    z-index: 10;
    max-height:250px;
    overflow-y: auto;
    display: none;
    min-width:200px;
}
.form_content_item .row .form_selectOption li{
    padding:0 30px;
    border-top:solid 1px #d8d8d8;
    height:50px;
    line-height:50px;
    text-align:center;
    font-size:20px;
    white-space: nowrap;
}
.form_content_item .row .form_selectOption li:hover{
    color:#fff;
    background:#9F291F;
}
.form_content_item .row .inputRadio{
    float:right;
    text-align:right;
    height:100%;
    font-size: 0;
}
.form_content_item .row .inputRadio input::after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background: url('../img/ico_radio_off.svg') no-repeat center #fff;
    width:28px;
    height:28px;
    background-size: contain;
    position:absolute;
    left:0;
    top:0;
}

.form_content_item .row .inputRadio input{
    width:28px;
    height:28px;
    vertical-align: middle;
    cursor: pointer;
    position:relative;
    margin-left:35px;

}
.form_content_item .row .inputRadio input:checked::after{
    background: url('../img/ico_radio_on.svg') no-repeat center;
    position: absolute;
    background-size: contain;
}

.form_content_item .row .inputRadio .radioLabel{
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    color:#999;
    padding-left:26px;
    vertical-align: middle;
    display: inline-block;
    margin-top:-6px;
}
.form_content_item .row .inputRadio input:checked + .radioLabel{
    color:#9F291F;
}
.form_content_item   .inline_block{
    float:right;
    text-align:right;
    height:100%;
    font-size: 26px;
    color:#999;
    cursor: pointer;
    font-weight:300;
    position:relative;

}
.form_content_item .row  .form_moreBtn{
    width: 19px;
    height: 19px;
    color: #999;
}
.form_content_item .uploadTip{
    font-size: 26px;
    font-weight: 300;
    color:#999;
    margin-left:60px;
    vertical-align: middle;
}
.form_content_item .fileBtn{
    width:51px;
    height:57px;
    position:relative;
    float:right;
    vertical-align: middle;
    position:absolute;
    right:0;
    top:50%;
    margin-top:-25px;
    z-index: 1;
    /* visibility: hidden; */
    cursor: pointer;
    opacity: 0;
}
.form_content_item .ico_pdf{
    position:absolute;
    right:0;
    top:50%;
    width:51px;
    height:57px;
    z-index: 2;
    margin-top:-25px;
    pointer-events: none;
    cursor: pointer;
    background-color: #fff;
}
.form_content_item .ico_upload{
    position:absolute;
    right:0;
    top:50%;
    width:51px;
    height:53px;
    z-index: 2;
    margin-top:-25px;
    pointer-events: none;
    cursor: pointer;
    background-color: #fff;
}
.form_content .submit{
    font-size: 30px;
    font-weight: 500;
    color:#fff;
    background: #9F291F;
    border-radius:35px;
    height:86px;
    line-height:86px;
    text-align:center;
    letter-spacing: 50px;
    margin-top:58px;
    cursor: pointer;
}
.form_content_item .row .longInput{
    width:100%!important;
    text-align: left!important;
}
.form_content_item  .bx{
    border-top:solid 3px #D8D8D8;
}
.form_content_item  .bx .textarea{
    width:100%;
    height:180px;
    border:none;
    resize: none;
    outline: none;
    font-size:26px;
    font-weight:300;
    padding-top:27px;
    line-height:1.5;
}
/* aplication1*/
.aplication_content{
    width:1000px;
    margin:0 auto;
    padding:0 60px 200px;
}
.aplication_content_item {
    border-radius: 35px;
    overflow: hidden;
    padding-bottom:52px;
    background-color: #fff;
    margin-top:69px;
}
.aplication_content_item .top{
    padding:36px;
    min-height:103px;
    font-size: 30px;
    line-height:60px;
    font-weight: 500;
    text-align: center;
    color:#fff;
    background: linear-gradient(90deg, #9F291F 0%, rgba(203,57,44,0.51) 100%);
}

.aplication_content_item .contain{
    padding:0 45px 0;
}
.aplication_content_item .des{
    padding-top:50px;
}
.aplication_content_item .des_title{
    font-size: 30px;
    font-weight: 500;
    line-height:1.5;
    margin-bottom:20px;
}
.aplication_content_item .des_txt{
    font-size: 26px;
    font-weight: 300;
    line-height: 45px;
    text-align: justify;
}
.aplication_content_item .submit{
    font-size: 30px;
    font-weight: 500;
    color:#fff;
    background: #9F291F;
    border-radius:35px;
    height:86px;
    line-height:86px;
    text-align:center;
    letter-spacing: 10px;
    margin-top:58px;
    cursor: pointer;
    width:100%;
}

@media screen and (min-width:1901px){
    @media screen and (max-height:1045px) {
        .team_banner{ min-height:447px; height:calc(100vh - 66px - 131px - 308px);}
    }
}
@media screen and (max-width: 1900px) and (min-width:1441px){ 
    .wd_con{width:960px;}
    .flex-frame .md_title{width:220px;height:540px;padding:120px 0 0; background-size:20px;top:-50px;}
    .flex-frame .md_title .txt{font-size:32px;line-height:40px;letter-spacing: 4px;}
    .flex-frame .btn_link,.flex-frame .btn_about{height:32px;line-height:32px;font-size:16px;width:100px;}
     .flex-frame .en_about_title{font-size:32px;margin-top:60px;}
    /* home */
    .swiper-txtBx{margin-left:-480px;}
    .swiper-title{font-size:46px;line-height:1.2;}
    .swiper-subTitle{font-size:28px;}
    .swiper-btnBx{margin-left:-480px;}

    .capital_title{font-size:32px;margin-bottom:20px;}
    .capital_bg{background-size:100%;height:459px;}
    .capital_bg_des{font-size:14px;width:405px;}
    .capital_bg_item_title{font-size:14px;}
    .capital_bg_item_row{font-size:14px;}
    .capital_center{top:230px;}
    .capital_center_label{font-size:14px;margin-bottom:7px;}
    .capital_center_title{font-size:16px;}
    .capital_opinion{top:160px;margin-left:216px;}
    .capital_resource{bottom:72px;}
    .capital_method{bottom:72px;margin-left:216px;}
    .icon_opinion{width:40px;height:40px;top:133px;margin-left:-17px;}
    .icon_resource{width:40px;height:40px;top:311px;margin-left:-132px;}
    .icon_method{width:40px;height:40px;top:311px;margin-left:98px;}

    .ho_example_bg{width:1300px;background-size:60%;margin-left:-90px}
    .ho_example .logo:hover{background-size:95px;padding-top:0;}
    .ho_example .logo{width:97px;height:112px;padding:0 10px;}
    .ho_example .logo img{height:52px;}
    .ho_example .logo p{font-size:11px;line-height:16px;padding:0 6px;top:4px}
    .logo1{margin-left:-562px;top:190px;}
    .logo2{margin-left:-464px;top:190px;}
    .logo3{margin-left:-211px;top:190px;}
    .logo4{margin-left:-113px;top:190px;}
    .logo5{margin-left:-15px;top:190px;}
    .logo6{margin-left:-513px;top:279px;}
    .logo7{margin-left:-415px;top:279px;}
    .logo8{margin-left:-260px;top:279px;}
    .logo9{margin-left:-162px;top:279px;}
    .logo10{margin-left:-64px;top:279px;}
    .logo11{margin-left:-562px;top:368px;}
    .logo12{margin-left:-309px;top:368px;}
    .logo13{margin-left:-211px;top:368px;}
    .logo14{margin-left:-113px;top:368px;}
    .logo15{margin-left:-15px;top:368px;}
    .ho_example .btn_more{margin-top:200px;}
    .ho_example .md_title{height: calc(50% + 67px + 211px)}
    .ho_example .md_title .txt{bottom:283px;}
    .ho_news .news{width:680px;padding-top:60px;}
    .ho_news .news_item{margin:0 0 38px 20px;}
    .ho_news .news_item_dl{width:320px;height:260px;padding:6px;border-radius: 8px;}
    .ho_news .news_item_dl .imgCase{height:176px;}
    .ho_news .news_item_dl .des{padding-top:6px;}
    .ho_news .news_item_dl .date{font-size:14px;line-height:18px;min-height:18px;background-size:20px;}
    .ho_news .news_item_dl .txt{font-size:16px;line-height:24px;}
    .ho_news .btn_more{margin-bottom:-322px}
    .ho_news .md_title{ height:calc(50% + 306px)}
    .ho_news .md_title .txt{bottom:452px;}

    .team{padding-bottom:100px;}
    /* .team_banner{height:300px;padding-top:118px;} */
    .team_banner{padding-top:120px;height:460px;}
    @media screen and (max-height:854px) {
        .team_banner{max-height:460px; min-height:403px; height:calc(100vh - 66px - 131px - 197px);}
    }
    .team_banner .title{font-size:42px;margin-bottom:20px;}
    .team_banner .subTitle{font-size:28px;}
    .team_banner .des{font-size:17px;width:610px;right:62px;top:106px;}
    .team_introduction { height:calc(100vh - 66px - 460px - 328px);}
    .team_introduction .txt{font-size:18px;}
    .teamers{width:990px;}
    .teamers .item{padding:15px;}
    .teamers .item_case .des{height:auto;padding:7px 15px 5px;}
    .teamers .item_case .des .name{font-size:16px;line-height:24px;}
    .teamers .item_case .des .position{font-size:14px;line-height:28px;}
    .teamerInfo_contain{padding-bottom:160px;min-height:620px;}
    .teamerInfo_contain .lt .info{width:220px;height:200px;bottom:-160px}
    .teamerInfo_contain .lt .info .name{font-size:32px;line-height:50px;}
    .teamerInfo_contain .lt .info .position{font-size:18px;line-height:26px;}
    .teamerInfo_contain .des{padding-left:40px;}
    .teamerInfo_contain .des p{font-size:18px;line-height: 1.5;margin-bottom:18px;}
    .teamers .item_case::before{right:-15px;}
    .teamers .item_case::after{bottom:-15px;}
    .teamerInfo_contain .btn_close{width:60px;height:60px;}
    .teamerInfo_contain .des .btn_bp{font-size: 20px;width: 120px;height: 36px;line-height: 36px;border-radius: 18px;margin-top:18px;}
    .teamers .item_case .des::after{background-size:36px 48px;}
    

    .footer_contain{padding:15px 0 0}
    .footer_item{height:500px;padding-right:10px}
    .footer_item .position_info{width:200px;height:240px;padding-top:20px;right:30%;}
    .footer_item .position_info .icoCase{width:70px;height:70px;}
    .footer_item .positionLogoCase{width:150px;}
    .footer_item .positionLogo .map_nav{width:56px;right:-71px;}
    .footer_item .positionLogo{width:18px; height:28px;}
    .footer_item .position_info .title{font-size:18px;padding:6px 0}
    .footer_item .position_info .des{margin-bottom:15px;}
    .footer .md_title{top:-70px;height:70px;padding:0;}
    .footer .md_title .txt{line-height:70px;}
    .footer .copy{padding-right:10px;}
    .footer .copy p{font-size:18px;line-height:60px;width:350px;}
    .backTopBx{width:60px;bottom:80px;}
    .backTopBx .btn_backTop{height:60px;}
    .newsList_banner{height:300px;padding-top:118px;}
    .newsList_banner .title{font-size:36px;line-height:42px;}
    .newsListContent .list{padding-top:60px;}
    .newsListContent .list .item{padding:24px 50px 24px 160px}
    .newsListContent .list .item .date{width:160px;padding: 24px 24px 0 30px; }
    .newsListContent .list .item .date_year{font-size:36px;line-height:48px;height:48px;margin-bottom:6px;}
    .newsListContent .list .item .date_day{font-size:18px; line-height:24px;height:24px;}
    .newsListContent .list .item .des{padding: 6px 32px;min-height:80px;}
    .newsListContent .list .item .des_title{font-size:16px;line-height:24px;margin-bottom:6px;}
    .newsListContent .list .item .des_txt{font-size:16px;line-height:24px;height:48px;}
    .newsListContent .list .item::after{right:10px;}
    .pagination_df{margin-top:80px;}
    .pagination_df .item{width:32px;height:32px;line-height:32px;font-size:16px;}
    .pagination_df .next{width:68px;height:32px;line-height:32px;}
}
@media screen and (max-width:1440px) { 
    .wd_con{width:800px;}
    .flex-frame .md_title{width:140px;height:340px;padding:80px 0 0; background-size:16px;top:-30px;}
    .flex-frame .md_title .txt{font-size:24px;line-height:30px;letter-spacing: 2px;}
    .flex-frame .btn_link,.flex-frame .btn_about{height:28px;line-height:28px;font-size:14px;width:90px;}
    .flex-frame .en_about_title{font-size:28px;margin-top:32px;}
    /* home */
    .swiper-txtBx{margin-left:-400px;}
    .swiper-title{font-size:36px;line-height:1.2;}
    .swiper-subTitle{font-size:24px;}
    .swiper-btnBx{margin-left:-400px;}
    .capital_title{font-size:28px;margin-bottom:20px;}
    .capital_bg{background-size:100%;height:383px;}
    .capital_bg_des{font-size:12px;width:338px;}
    .capital_bg_item_title{font-size:12px;margin-bottom:4px;}
    .capital_bg_item_row{font-size:12px;}
    .capital_opinion{top:133px;margin-left:179px;width:320px;}
    .capital_resource{bottom:61px;}
    .capital_method{bottom:61px;margin-left:179px;width:320px;}
    .capital_center{top:192px;}
    .capital_center_label{font-size:12px;margin-bottom:5px;}
    .capital_center_title{font-size:13px;}
    .icon_opinion{width:36px;height:36px;top:109px;margin-left:-16px;}
    .icon_resource{width:36px;height:36px;top:258px;margin-left:-112px;}
    .icon_method{width:36px;height:36px;top:258px;margin-left:80px;}

    .ho_example_bg{width:1300px;background-size:60%;margin-left:-90px}
    .ho_example .logo:hover{background-size:95px;padding-top:0;}
    .ho_example .logo{width:97px;height:112px;padding:0 10px;}
    .ho_example .logo img{height:52px;}
    .ho_example .logo p{font-size:11px;line-height:16px;padding:0 6px;}
    .ho_example .logo:hover p{top:4px;}
    .logo1{margin-left:-562px;top:190px;}
    .logo2{margin-left:-464px;top:190px;}
    .logo3{margin-left:-211px;top:190px;}
    .logo4{margin-left:-113px;top:190px;}
    .logo5{margin-left:-15px;top:190px;}
    .logo6{margin-left:-513px;top:279px;}
    .logo7{margin-left:-415px;top:279px;}
    .logo8{margin-left:-260px;top:279px;}
    .logo9{margin-left:-162px;top:279px;}
    .logo10{margin-left:-64px;top:279px;}
    .logo11{margin-left:-562px;top:368px;}
    .logo12{margin-left:-309px;top:368px;}
    .logo13{margin-left:-211px;top:368px;}
    .logo14{margin-left:-113px;top:368px;}
    .logo15{margin-left:-15px;top:368px;}
    .ho_example .btn_more{margin-top:200px;}
    .ho_example .md_title{height: calc(50% + 67px + 188px)}
    .ho_example .md_title .txt{bottom:304px;}
    .ho_news .news{width:552px;padding-top:30px;}
    .ho_news .news_item{margin:0 0 30px 15px;}
    .ho_news .news_item_dl{width:260px;height:220px;padding:6px;border-radius: 8px;}
    .ho_news .news_item_dl .imgCase{height:140px;}
    .ho_news .news_item_dl .des{padding-top:6px;}
    .ho_news .news_item_dl .date{font-size:13px;line-height:18px;min-height:18px;background-size:20px;}
    .ho_news .news_item_dl .txt{font-size:15px;line-height:22px;}
    .ho_news .btn_more{margin-bottom:-260px}
    .ho_news .md_title{ height:calc(50% + 234px)}
    .ho_news .md_title .txt{bottom:376px;}
   
    .team{padding-bottom:76px;}
    .team_banner{height:400px; padding-top:100px;}
    @media screen and (max-height:854px) {
        .team_banner{max-height:400px; min-height:349px; height:calc(100vh - 66px - 131px - 140px);}
    }
    .team_banner .title{font-size:32px;margin-bottom:18px;}
    .team_banner .subTitle{font-size:20px;}
    .team_banner .des{font-size:15px;width:534px;right:50px;top:98px;padding:12px 20px;}
    .team_introduction { height:calc(100vh - 66px - 400px - 271px);}
    .team_introduction .txt{font-size:16px;}
    .teamers{width:820px;}
    .teamers .item{padding:10px;}
    .teamers .item_case .des{height:auto;padding:7px 12px 5px;}
    .teamers .item_case .des .name{font-size:14px;line-height:18px;}
    .teamers .item_case .des .position{font-size:12px;line-height:26px;}
    .teamerInfo_contain{padding-bottom:120px;min-height:500px;}
    .teamerInfo_contain .lt .info{width:180px;height:160px;bottom:-120px}
    .teamerInfo_contain .lt .info .name{font-size:28px;line-height:42px;}
    .teamerInfo_contain .lt .info .position{font-size:16px;line-height:22px;}
    .teamerInfo_contain .des{padding-left:25px;}
    .teamerInfo_contain .des p{font-size:16px;line-height: 1.5;margin-bottom:16px;}
    .teamers .item_case::before{right:-10px;}
    .teamers .item_case::after{bottom:-10px;}
    .teamerInfo_contain .btn_close{width:50px;height:50px;background-size:40px 40px}
    .teamerInfo_contain .des .btn_bp{font-size: 16px;width: 100px;height: 32px;line-height: 32px;border-radius: 16px;margin-top:16px;}
    .teamers .item_case .des::after{background-size:36px 48px;}
    .footer_contain{padding:10px 0 0}
    .footer_item{height:400px;padding-right:6px;}
    .footer_item .position_info{width:170px;height:200px;padding-top:18px;right:25%;}
    .footer_item .position_info .icoCase{width:70px;height:70px;}
    .footer_item .positionLogoCase{width:100px;}
    .footer_item .positionLogo{margin-left:28%;width:16px;height:24px;}
    .footer_item .positionLogo .map_nav{width:50px;right:-63px;height:20px;}
    .footer_item .position_info .title{font-size:16px;padding:3px 0;line-height:30px;}
    .footer_item .position_info .des{margin-bottom:10px;font-size:10px;}
    .footer_item .position_info .tel{padding-left:19px;}
    .footer .md_title{top:-50px;height:50px;padding:0;}
    .footer .md_title .txt{line-height:50px;}
    .footer .copy{padding-right:6px;}
    .footer .copy p{font-size:15px;line-height:44px;width:260px;}
    .backTopBx{width:50px;bottom:60px;}
    .backTopBx .btn_backTop{height:50px;}
    .newsList_banner{height:280px;padding-top:105px;}
    .newsList_banner .title{font-size:28px;line-height:42px;}
    .newsListContent .list{padding-top:50px;}
    .newsListContent .list .item{padding:16px 50px 16px 140px}
    .newsListContent .list .item .date{width:140px;padding: 12px 16px 0 28px; }
    .newsListContent .list .item .date_year{font-size:28px;line-height:42px;height:42px;margin-bottom:5px;}
    .newsListContent .list .item .date_day{font-size:16px; line-height:20px;height:20px;}
    .newsListContent .list .item .des{padding: 5px 28px;min-height:70px;}
    .newsListContent .list .item .des_title{font-size:15px;line-height:20px;margin-bottom:5px;}
    .newsListContent .list .item .des_txt{font-size:15px;line-height:20px;height:40px;}
    .newsListContent .list .item::after{right:10px;background-size:16px 8px;}
    .pagination_df{margin-top:40px;}
    .pagination_df .item{width:28px;height:28px;line-height:28px;font-size:14px;}
    .pagination_df .next{width:58px;height:28px;line-height:28px;}
    
}
/* mobile */
@media screen and (max-width:999px) {
    .wd_con{width:auto} 
    /* form page */
    .from_wrap{padding-top:0;}
    .form_banner{height:19rem;}
    .form_banner_content{left:0;top:6rem;width:auto;max-width:29rem;margin-left:0;line-height:1.5;padding:0 1.9rem;}
    .form_banner_content .title{font-size: 2.4rem;font-weight:700;margin-bottom:.5rem}
    .form_banner_content .des_cn{font-size:1.4rem;margin-bottom:0;}
    .form_banner_content .des_en{font-size:1rem;}
    .form_content{padding:3.5rem 1.9rem 7.9rem;}
    .form_content_item{border-radius: 1.5rem;margin-top:1.1rem;padding:0 1.7rem;}
    .form_content_item .title{font-size:1.6rem;height:46px;line-height:46px;}
    .form_content_item .row{line-height:4.6rem;border-top:solid .1rem #D8D8D8;height:4.6rem;}
    .form_content_item .row label{font-size:1.6rem;}
    .form_content_item .row input[type="text"]{font-size: 1.4rem;}
    .form_content_item .row .inputRadio input::after{width:1.5rem;height:1.5rem;}
    .form_content_item .row .inputRadio input{width:1.5rem;height:1.5rem;margin-left:2.1rem;}
    .form_content_item .row .inputRadio .radioLabel{font-size:1.6rem;padding-left:1.4rem;margin-top:-.2rem}
    .form_content_item   .inline_block{font-size:1.4rem;}
    .form_content_item .row  .form_moreBtn{width:.9rem;height:.9rem;}
    .form_content_item .uploadTip{font-size:1.4rem;margin-left:3rem;}
    .form_content_item .fileBtn{width:2.4rem;height:2.8rem;margin-top:-1.4rem;}
    .form_content_item .ico_pdf{width:2.4rem;height:2.8rem;margin-top:-1.4rem;}
    .form_content_item .ico_upload{width:2.3rem;height:2.4rem;margin-top:-1.2rem;}
    .form_content .submit{margin-top:3.2rem;height:4.6rem;line-height:4.6rem;font-size:1.6rem;letter-spacing: 1.6rem;}
    .form_content_item  .bx{border-top:solid .1rem #D8D8D8;}
    .form_content_item  .bx .textarea{height:6.9rem;font-size:1.4rem;margin-top:1.3rem;padding:0;}
    .aplication_content{width:100%;padding:0 1.9rem 7.9rem;}
    .aplication_content_item{border-radius:1.5rem;padding-bottom:2.7rem;margin-top:3.5rem;}
    .aplication_content_item .top{min-height:4.1rem;line-height:2rem;font-size:1.6rem;padding:1rem;}
    .aplication_content_item .contain{padding:0 1.7rem 0;}
    .aplication_content_item .des{padding-top:2rem;}
    .aplication_content_item .des_title{font-size:1.4rem;margin-bottom:2rem;}
    .aplication_content_item .des_txt{font-size:1.4rem;line-height:2.6rem;}
    .aplication_content_item .submit{font-size:1.6rem;border-radius: 3.1rem;height:4.6rem;line-height:4.6rem;margin-top:2rem;}

    /* team */
    .team{padding:0 0 4rem 0}
    .team_banner{height:28.9rem;min-height:0;padding-top:5.4rem;background-position:right;max-height:inherit;}
    .team_banner_contain{padding:0 20px;}
    .team_banner .title{font-size: 2.4rem;font-weight: bold;line-height:3.4rem;margin-bottom:.5rem;}
    .team_banner .subTitle{font-size:1.4rem;}
    .team_banner .des{width:100%;font-size:1.2rem;line-height:2rem;position:static;top:0;right:0;margin-top:2rem;padding:.6rem 1rem;}
    .team_introduction{display: none;}
    .team_content{padding:4.5rem 1rem }
    .teamers{width: 100%;}
    .teamers .item{width:50%;padding:1rem;}
    .teamers .item_case::before{right:-1rem;}
    .teamers .item_case::after{top:-1rem}
    .teamers .item:nth-child(2n-1) .item_case::before{display: block;}
    .teamers .item:nth-child(2n) .item_case::before{display: none;}
    .teamers .item:nth-last-child(1) .item_case::before{display: none;}
    .teamers .item:nth-child(n) .item_case::after{display: none;}
    .teamers .item:nth-child(n+3) .item_case::after{display: block;}
    .teamers .item_case .avatar{border-radius:.4rem;}
    .teamers .item_case .des{height:5rem;padding:.5rem 1.3rem 0;border-radius:0;}
    .teamers .item_case .des .name{font-size:1.4rem;margin-bottom:.3rem}
    .teamers .item_case .des .position{font-size:1rem;line-height:1.5;}
    .teamers .item_case .des::after{display: none;}
    #teamerInfo{background:#fff;}
    .teamerInfo_contain{width:100%;display: block;padding-top:10rem;}
    .teamerInfo_contain .lt{width:100%;padding:0 2rem 10rem 3.7rem;margin-bottom:3.8rem;}
    .teamerInfo_contain .imgCase{border-radius: 0;padding-bottom:100%;}
    .teamerInfo_contain .lt .info{width:13.8rem; height:12rem;left:1.7rem;bottom:0;}
    .teamerInfo_contain .lt .info .name{font-size:2.4rem;line-height:1.5;margin-bottom:1rem;}
    .teamerInfo_contain .lt .info .position{font-size:1.4rem;line-height:1.5;}
    .teamerInfo_contain .des{padding:0 2rem;margin:0;width:100%;}
    .teamerInfo_contain .des p{font-size:1.4rem;line-height:2.6rem;font-weight:300;margin-bottom:4rem;}
    .teamerInfo_contain .btn_close{position:static;width:4.1rem;height:4.1rem;background-size:100%; float:right;margin:3.8rem 2rem 4rem 0;}
    .teamerInfo_contain .des .btn_bp{width:10rem;height:3.2rem;line-height:3.2rem;font-size:1.6rem;border-radius:1.6rem;margin-top:1.6rem;}

    /* news center */
    .newsListContent{padding-bottom:8.8rem;}
    .newsList_banner{margin-top:0;height:11.4rem;padding:0;position:relative;background-position:left;}
    .newsList_banner .title{font-size:2.4rem;font-weight:700;line-height:1.5;position:absolute;left:2.1rem;top:50%;transform: translateY(-50%);}    
    .newsListContent .list{padding-top:2.9rem;}
    .newsListContent .list .item{padding:1.8rem 4rem 1.8rem 7.6rem;border-color:#D8D8D8;}
    .newsListContent .list .item:last-child{border:none;}
    .newsListContent .list .item::after{right:2rem;width:1.2rem; height:.8rem;margin-top:-.4rem;}
    .newsListContent .list .item .date{padding:0;max-width:4rem;height:auto;position:absolute;left:2rem;top:50%;transform: translateY(-50%);margin-top:-.7rem;}
    .newsListContent .list .item .date_year{font-size:1.4rem;font-weight:700;height:auto;line-height:1.5;color:#959595;margin-bottom:0;}
    .newsListContent .list .item .date_day{font-size:.8rem;font-weight:bold;height:auto;line-height:1.5;color:#959595;}
    .newsListContent .list .item .des{min-height:4rem;padding:.2rem 1rem .2rem 1.3rem;border-color:#D8D8D8;}
    .newsListContent .list .item .des_title{ white-space: normal; font-size:1.4rem;color:#3d3d3d;font-weight: 400;line-height:1.5;margin-bottom:.5rem;text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;line-clamp: 2;-webkit-box-orient: vertical;}
    .newsListContent .list .item .des_txt{color:#363636; height:auto;text-align:justify ;font-size:1rem;font-weight: 300;line-height:1.5;text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;line-clamp: 3;-webkit-box-orient: vertical;}
    .pagination_df{margin-top:9rem;padding:0 2.2rem;}
    .pagination_df .item{width:2.4rem; height:2.4rem;line-height:2.4rem;font-size:1.4rem;background-color: #d8d8d8;color:#3d3d3d;}
    .pagination_df .item.active{background:#9F291F ;color:#fff;}
    .pagination_df .item:hover{background:#9F291F ;color:#fff;}
    .pagination_df  .next{width:4.9rem;height:2.4rem;line-height:2.4rem;background-size:.8rem .6rem;background-color: #9F291F;}
    
    .pageContainer{height:auto;background-color: #F7F7F8}
    .pageContainer .swiper_home{height:19.3rem!important;}
    .pageContainer .swiper-txtBx{left:2rem;top:3.8rem; padding:0;margin:0;transform: translateY(0);}
    .pageContainer .swiper-txtBx::after{height:.3rem;width:10.8rem;}
    .pageContainer .swiper-title{font-size:2.4rem;line-height:3rem;font-weight:700;margin-bottom:.4rem;text-align:left;}
    .pageContainer .swiper-subTitle{font-size:1.2rem;text-shadow: none;margin-bottom:1.1rem;text-align:left;}
    .pageContainer .swiper-slide{padding-top:0;}
    .page-slide{height:auto;min-height:0;}
    .page-slide::after{display: none;}
    .page-wrapper{height:auto!important;width:100%!important;}
    .pageBar{display: none;}
    .swiper-btnBx{display: none;}
    .capital,.ho_example,.ho_news{display: none;}
    .home_mobile_content{display: block;padding:4.6rem 2rem 11.9rem;margin-top:-4.6rem; }
    .home_mobile_content .item{padding-top:4.6rem;margin-top:-2rem;}
    .home_mobile_content .item a{display:block;background:#fff;box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.16);}
    .home_mobile_content .item .imgCase{display: block;width:100%;height:19.7rem;}
    .home_mobile_content .item .imgCase img{width:100%;height:100%;object-fit: cover;}
    .home_mobile_content .item .des{padding:.7rem 1.6rem 1.3rem;}
    .home_mobile_content .item .des_title{font-size:1.8rem;font-weight:500;color:#000;line-height:2.6rem;margin-bottom:.3rem;}
    .home_mobile_content .item .des_txt{font-size:1.4rem;line-height:2.2rem;font-weight:300;color:#3d3d3d;}
    .home_module_nav{display: flex;}
    .home_module_nav .item{flex:1;height:6.4rem;text-align:center;font-size:0;background:#F1F1F1;padding-top:1.2rem;border:solid 1px transparent;}
    .home_module_nav .item::before{content:'';display: inline-block;height:2.4rem;width:2.4rem;background-size:100% 100%;background-repeat: no-repeat;background-position:center;}
    .home_module_nav .item:nth-child(1)::before{background-image:url('../img/home_md_nav1.svg') }
    .home_module_nav .item:nth-child(2)::before{background-image:url('../img/home_md_nav2.svg') }
    .home_module_nav .item:nth-child(3)::before{background-image:url('../img/home_md_nav3.svg') }
    .home_module_nav .item:nth-child(4)::before{background-image:url('../img/home_md_nav4.svg') }
    .home_module_nav .item:nth-child(5)::before{background-image:url('../img/home_md_nav5.svg') }
    .home_module_nav .item .title{font-size:1rem;font-weight:300;color:#8C8C8C;line-height:1.5;margin-top:.5rem;display:block;}
    .home_module_nav .item:active{border-color:#D8D8D8;}
    .home_module_nav .item:active .title{color:#9F291F;font-weight:500;}
    .home_module_nav .item:nth-child(1):active::before{background-image:url('../img/home_md_nav1_on.svg') }
    .home_module_nav .item:nth-child(2):active::before{background-image:url('../img/home_md_nav2_on.svg') }
    .home_module_nav .item:nth-child(3):active::before{background-image:url('../img/home_md_nav3_on.svg') }
    .home_module_nav .item:nth-child(4):active::before{background-image:url('../img/home_md_nav4_on.svg') }
    .home_module_nav .item:nth-child(5):active::before{background-image:url('../img/home_md_nav5_on.svg') }
    
}
 